.features-cards-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}
.feature-list-card {
  display: block;
  margin-top: 2rem;
  padding: 20px;
  border: none;
  transition: all 0.9s ease;

  .feature-list-card-head {
    font-size: 28px;
    font-weight: 700;
    margin-top: 2rem;
    // line-height: 57.6px;
  }
  // .feature-list-card-head-underline {
  //   height: 3px;
  //   background-color: rgba(217, 217, 217, 1);
  //   width: 7rem;
  //   margin-top: -10px;
  //   margin: 0 auto;
  // }
  .feature-list-card-text {
    font-size: 16px;
    text-align: center;
  }
}
.feature-list-card:hover {
  // border: 1px solid #000; /* Change this to the desired border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}
.home-service-head {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-style: to-upper-case($string: "");
  margin-top: 4rem;
  font-size: 25px;
}
.home-service-text {
  font-family: "Inter";
  font-size: 17px;
  font-weight: 400;
  text-align: center;

  padding: 0px 100px 0px 100px;
  text-align: center;
  margin-top: 1rem;
  line-height: 23px;
}
@media only screen and (max-width: 600px) {
  .feature-list-card {
    padding: 10px;

    .feature-list-card-head {
      font-size: 24px;
      font-weight: 700;
      line-height: 37.6px;
    }

    .feature-list-card-text {
      font-size: 15px;
    }
  }
  .home-service-head {
    margin-top: 1px !important;
  }
  .home-service-text {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    padding: 0px 30px 0px 30px;
    text-align: center;
    margin-top: 1rem;
    line-height: 23px;
  }
}
